.landing-page
  height: 100vh
  overflow: hidden

  .modal-background
    svg
      position: absolute
      left: calc((100vw - 100vmax) / 2)
      top: calc((100vh - 100vmax) / 2)
      height: 100vmax
      opacity: 0.4
